{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Ainembabazi Lucia Rachel - Fullstack Developer{% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <nav class="navbar">
        <div class="nav-links">
            <a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %}>Home</a>
            <a href="{% url 'about' %}" {% if 'about' in request.path %}class="active"{% endif %}>About</a>
            <a href="{% url 'contact' %}" {% if 'contact' in request.path %}class="active"{% endif %}>Contact</a>
        </div>
    </nav>

    {% block content %}

    <div class="social-links">
        <a href="https://github.com/Lucy-dev1999" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ainembabazi-lucia-rachel" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    {% endblock %}

</body>
<footer class="footer">
    <p>&copy; 2025 Ainembabazi Lucia Rachel. All rights reserved.</p>
</html>